.frame{
  padding: 10px 15px 15px 15px;
  margin-left: 20px;

  .header{
    h2{
      color: white
    }
  }
  .option-div{
    .tab-btn{
      background: transparent;
      color: white;
    }
    .tab-highlight{
      background-color: #393939;
      color: white;
    }
  }
}