<!-- <div class="frame">
  <form>
    <div class="form-div">
      <div class=" form-content">
        <div class="form-label">
          <span>Todo Info</span>
        </div>
        <div class="form-elements">
           TODO Name 
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Todo Name</mat-label>
              <input matInput placeholder="New Task">
            </mat-form-field>
          </div>
           TODO Description 
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
           TODO date 
          <div class="expiry-date">
            <mat-form-field>
              <mat-label>Expiry Date</mat-label>
              <input matInput [matDatepicker]="datePicker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class=" form-btns">
        <button mat-raised-button color="success" type="submit"> Create </button>
        <button mat-raised-button color="warn" type="reset"> Clear</button>
      </div>
    </div>
  </form>
</div> -->

<div class="frame">
  <form [formGroup]="taskForm">
    <div class="grid-container">

      <div class="grid-left">
        <!-- Task Tile -->
        <div class="task-fields task-name">
          <mat-label>Task Tile</mat-label>
          <mat-form-field>
            <input matInput formControlName="taskName" >
          </mat-form-field>
        </div>
        <!-- Task Description -->
        <div class="task-fields task-description">
          <mat-label>Description</mat-label>
          <textarea class="text" matInput formControlName="taskDescription" ></textarea>
        </div>
        <!-- Task Tag -->
        <div class="task-fields task-tag">
          <mat-label>Tags</mat-label>
          <mat-form-field>
            <input  matInput formControlName="taskTag" >
          </mat-form-field>
        </div>
      </div>
      
      <div class="grid-right">
        <div class="task-fields task-Status">
          <mat-label>Tags</mat-label>
          <mat-form-field>
            <input  matInput formControlName="taskTag" >
          </mat-form-field>
        </div>
        <!-- <ng-select [items]="statusList"
        bindLabel="name"
        placeholder="Select Status"
        [(ngModel)]="taskStatus">
        </ng-select> -->
      </div>
    </div>
  </form>
</div>